## Carpetas de compilación
[Bb]in/
[Oo]bj/

## Archivos de usuario de Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Archivos de base de datos local
*.mdf
*.ldf

## Publicación
publish/

## Registros de log
logs/

# Ignorar archivos subidos por usuarios
**/wwwroot/uploads/*
# Pero NO ignorar la carpeta en sí (para mantener la estructura)
!**/wwwroot/uploads/.gitkeep